In [1]:
import pandas as pd
df = pd.read_csv("./winemag-data-130k-v2.csv")

df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

EXPLORAR DATA

In [3]:
df.shape

(65499, 14)

In [4]:
df.head(10)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
6,6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
8,8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel
9,9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam

In [5]:
df.tail(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
65497,65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [6]:
df.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [7]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [8]:
df.describe(include='all')

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
count,65499.000000,65467,65499,46588,65499.000000,60829.000000,65467,54744,25170,51856,49467,65499,65499,65499
unique,NaN,41,62824,24187,NaN,NaN,385,1111,17,19,15,62466,590,13549
top,NaN,US,"Cigar box, café au lait, and dried tobacco aro...",Reserve,NaN,NaN,California,Napa Valley,Central Coast,Roger Voss,@vossroger,Korbel NV Brut Sparkling (California),Pinot Noir,Wines & Winemakers
freq,NaN,27177,3,999,NaN,NaN,18122,2226,5420,13045,13045,6,6657,119
mean,32749.000000,NaN,NaN,NaN,88.434037,35.232932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,18908.076978,NaN,NaN,NaN,3.030310,39.477858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,80.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,16374.500000,NaN,NaN,NaN,86.000000,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,32749.000000,NaN,NaN,NaN,88.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,49123.500000,NaN,NaN,NaN,91.000000,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,65498.000000,NaN,NaN,NaN,100.000000,2500.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Renombrar columnas
df.rename(columns={
    'Unnamed: 0': 'id',
    'taster_name': 'critic',
    'taster_twitter_handle': 'critic_twitter',
    'region_1': 'region',
    'region_2': 'subregion'
}, inplace=True)

# Mapeo país -> continente
country_to_continent = {
    'US': 'North America', 'United States': 'North America', 'USA': 'North America', 'Canada': 'North America', 'Mexico': 'North America',
    'Argentina': 'South America', 'Chile': 'South America', 'Brazil': 'South America', 'Uruguay': 'South America',
    'France': 'Europe', 'Italy': 'Europe', 'Spain': 'Europe', 'Portugal': 'Europe', 'Germany': 'Europe', 'Austria': 'Europe',
    'United Kingdom': 'Europe', 'England': 'Europe', 'Switzerland': 'Europe', 'Greece': 'Europe', 'Hungary': 'Europe',
    'Romania': 'Europe', 'Bulgaria': 'Europe', 'Czech Republic': 'Europe', 'Slovenia': 'Europe',
    'Australia': 'Oceania', 'New Zealand': 'Oceania',
    'South Africa': 'Africa', 'Morocco': 'Africa',
    'Israel': 'Asia', 'Lebanon': 'Asia', 'Japan': 'Asia', 'China': 'Asia'
}

# Crear nuevas columnas
# 1) continente a partir de country
df['continent'] = df['country'].map(lambda c: country_to_continent.get(c, 'Other') if pd.notna(c) else 'Unknown')

# 2) categorización de precio
def price_category(p):
    if pd.isna(p):
        return 'Unknown'
    p = float(p)
    if p < 10:
        return 'Cheap'
    if p < 20:
        return 'Budget'
    if p < 50:
        return 'Mid'
    if p < 100:
        return 'Premium'
    return 'Luxury'
df['price_category'] = df['price'].apply(price_category)

# 3) longitud de la descripción en número de palabras
df['description_word_count'] = df['description'].str.split().str.len()

# indicador de alta puntuación
df['is_high_score'] = df['points'] >= 90

# Mostrar un resumen de las columnas nuevas y renombradas
df[['id', 'country', 'continent', 'price', 'price_category', 'points', 'is_high_score', 'description_word_count']].head()

,id,country,continent,price,price_category,points,is_high_score,description_word_count
0,0,Italy,Europe,NaN,Unknown,87,False,24
1,1,Portugal,Europe,15.0,Budget,87,False,38
2,2,US,North America,14.0,Budget,87,False,28
3,3,US,North America,13.0,Budget,87,False,33
4,4,US,North America,65.0,Premium,87,False,41

In [10]:
# 1) Top 3 vinos por continente (por puntos, en caso de empate ordenar por precio)
top3_por_continente = (
    df.sort_values(['continent', 'points', 'price'], ascending=[True, False, False])
      .groupby('continent', as_index=False)
      .head(3)
      .loc[:, ['continent', 'title', 'winery', 'country', 'points', 'price']]
)
print("Reporte 1: Top 3 vinos por continente (por points, luego price)\n")
print(top3_por_continente.to_string(index=False))
print("\n" + "="*80 + "\n")

Reporte 1: Top 3 vinos por continente (por points, luego price)

    continent                                                                                                              title                      winery      country  points  price
       Africa                                                                      De Toren 2014 Book 17 XVII Red (Stellenbosch)                    De Toren South Africa      95  330.0
       Africa                                                                                Vilafonté 2012 Series C Red (Paarl)                   Vilafonté South Africa      94   95.0
       Africa                                                                  Ernie Els 2004 Limited Release Red (Stellenbosch)                   Ernie Els South Africa      94   93.0
         Asia                                                                Domaine du Castel 2012 Grand Vin Red (Judean Hills)           Domaine du Castel       Israel      93   80.0
         Asia                                                                       Shiloh Winery 2010 Legend Red (Judean Hills)               Shiloh Winery       Israel      93   40.0
         Asia                                                                               Jezreel 2014 Adumim Dry Red (Israel)                     Jezreel       Israel      93   30.0
       Europe                                                                Biondi Santi 2010 Riserva  (Brunello di Montalcino)                Biondi Santi        Italy     100  550.0
       Europe                                                                Tenuta dell'Ornellaia 2007 Masseto Merlot (Toscana)       Tenuta dell'Ornellaia        Italy     100  460.0
       Europe                                                                      Casa Ferreirinha 2008 Barca-Velha Red (Douro)            Casa Ferreirinha     Portugal     100  450.0
North America                                                                    Cardinale 2006 Cabernet Sauvignon (Napa Valley)                   Cardinale           US     100  200.0
North America                                                      Quilceda Creek 2008 Cabernet Sauvignon (Columbia Valley (WA))              Quilceda Creek           US      99  125.0
North America                                          Williams Selyem 2009 Precious Mountain Vineyard Pinot Noir (Sonoma Coast)             Williams Selyem           US      99   94.0
      Oceania                                                            Chambers Rosewood Vineyards NV Rare Muscat (Rutherglen) Chambers Rosewood Vineyards    Australia     100  350.0
      Oceania                                                                      Penfolds 2010 Grange Shiraz (South Australia)                    Penfolds    Australia      99  850.0
      Oceania                                                        Chambers Rosewood Vineyards NV Rare Muscadelle (Rutherglen) Chambers Rosewood Vineyards    Australia      98  350.0
        Other                                                                          Sula 2011 Dindori Reserve Shiraz (Nashik)                        Sula        India      93   20.0
        Other                                                                            Kavaklidere 2010 Pendore Syrah (Aegean)                 Kavaklidere       Turkey      92   38.0
        Other           Alaverdi Monastery Cellar 2010 Qvevri Traditional Kakhuri Dry Unfiltered Amber Wine Rkatsiteli (Kakheti)   Alaverdi Monastery Cellar      Georgia      92   25.0
South America Pascual Toso 2014 Finca Pedregal Single Vineyard Barrancas Maipú Selected Lots Cabernet Sauvignon-Malbec (Mendoza)                Pascual Toso    Argentina      95   74.0
South America                                                               Finca Perdriel 2007 Vineyard Selection Red (Mendoza)              Finca Perdriel    Argentina      95   62.0
South America                                                             Achaval-Ferrer 2014 Finca Bella Vista Malbec (Mendoza)              Achaval-Ferrer    Argentina      94  140.0
      Unknown                                                                            Neumeister 2015 Steintal Roter Traminer                  Neumeister          NaN      92   38.0
      Unknown                                                                 Tsililis 2015 Theopetra Malagouzia-Assyrtiko White                    Tsililis          NaN      92   28.0
      Unknown                                                     Newton Johnson 2016 Cape Winemakers Guild Windansea Pinot Noir              Newton Johnson          NaN      92    NaN

================================================================================

In [11]:
# 2) Promedio de precio y cantidad de reviews por país (países con >=100 reviews), ordenado por precio promedio descendente
country_stats = (
    df[df['country'].notna()]
      .groupby('country')
      .agg(reviews=('id', 'count'),
           avg_price=('price', 'mean'),
           avg_points=('points', 'mean'))
      .reset_index()
)
country_stats_filtered = (
    country_stats[country_stats['reviews'] >= 100]
      .assign(avg_price=lambda d: d['avg_price'].round(2),
              avg_points=lambda d: d['avg_points'].round(2))
      .sort_values('avg_price', ascending=False)
)
print("Reporte 2: Promedio de precio y cantidad de reviews por país (>=100 reviews), ordenado por avg_price desc\n")
print(country_stats_filtered.to_string(index=False))
print("\n" + "="*80 + "\n")

Reporte 2: Promedio de precio y cantidad de reviews por país (>=100 reviews), ordenado por avg_price desc

     country  reviews  avg_price  avg_points
      France    11174      41.58       88.87
     Germany     1051      40.59       89.81
       Italy    10005      39.74       88.57
          US    27177      36.34       88.56
   Australia     1177      35.79       88.58
      Canada      108      35.58       89.21
      Israel      259      31.51       88.19
     Austria     1635      30.85       89.99
       Spain     3409      27.88       87.26
 New Zealand      733      26.66       88.24
    Portugal     2963      25.65       88.13
South Africa      737      24.29       88.07
   Argentina     1907      23.60       86.68
      Greece      242      21.85       87.23
       Chile     2258      21.02       86.57

================================================================================

In [12]:
# 3) Distribución de categorías de precio por continente (conteos y porcentaje)
pc_counts = (
    df.groupby(['continent', 'price_category'])
      .size()
      .reset_index(name='count')
)
totales_cont = df.groupby('continent').size().reset_index(name='total')
pc = pc_counts.merge(totales_cont, on='continent')
pc['percent'] = (pc['count'] / pc['total'] * 100).round(2)
pc_pivot_counts = pc.pivot(index='continent', columns='price_category', values='count').fillna(0).astype(int)
pc_pivot_percent = pc.pivot(index='continent', columns='price_category', values='percent').fillna(0).round(2)
print("Reporte 3: Conteo de price_category por continente\n")
print(pc_pivot_counts.to_string())
print("\nPorcentajes (%) por continente:\n")
print(pc_pivot_percent.to_string())
print("\n" + "="*80 + "\n")

Reporte 3: Conteo de price_category por continente

price_category  Budget  Cheap  Luxury    Mid  Premium  Unknown
continent
Africa             336     16       4    255       44       93
Asia                68      2       1    158       39       11
Europe            9177    795    1173  11160     4112     4343
North America     5546    319     620  15762     4948      121
Oceania            713     50      64    817      223       43
Other               99     10       1     82        4        1
South America     2438    262      66   1196      241       54
Unknown              9      2       0     16        1        4

Porcentajes (%) por continente:

price_category  Budget  Cheap  Luxury    Mid  Premium  Unknown
continent
Africa           44.92   2.14    0.53  34.09     5.88    12.43
Asia             24.37   0.72    0.36  56.63    13.98     3.94
Europe           29.83   2.58    3.81  36.28    13.37    14.12
North America    20.30   1.17    2.27  57.70    18.11     0.44
Oceania          37.33   2.62    3.35  42.77    11.68     2.25
Other            50.25   5.08    0.51  41.62     2.03     0.51
South America    57.27   6.15    1.55  28.09     5.66     1.27
Unknown          28.12   6.25    0.00  50.00     3.12    12.50

================================================================================

In [13]:
# 4) Top 10 variedades más reseñadas: cantidad de reviews, promedio de puntos y promedio de precio
var_stats = (
    df.groupby('variety')
      .agg(reviews=('id', 'count'),
           avg_points=('points', 'mean'),
           avg_price=('price', 'mean'))
      .reset_index()
      .assign(avg_points=lambda d: d['avg_points'].round(2),
              avg_price=lambda d: d['avg_price'].round(2))
)
top10_varieties = var_stats.sort_values('reviews', ascending=False).head(10)
print("Reporte 4: Top 10 variedades por número de reseñas (reviews), con avg_points y avg_price\n")
print(top10_varieties.to_string(index=False))

Reporte 4: Top 10 variedades por número de reseñas (reviews), con avg_points y avg_price

                 variety  reviews  avg_points  avg_price
              Pinot Noir     6657       89.40      47.51
              Chardonnay     5869       88.36      35.21
      Cabernet Sauvignon     4785       88.53      46.88
               Red Blend     4552       88.42      36.18
Bordeaux-style Red Blend     3443       89.09      46.85
                Riesling     2598       89.45      31.10
         Sauvignon Blanc     2561       87.49      20.33
                   Syrah     2041       89.29      39.53
                    Rosé     1730       86.87      18.37
                  Merlot     1550       87.23      29.36

In [16]:
from pathlib import Path
import os
import sqlite3

out_dir = Path("reports")
out_dir.mkdir(exist_ok=True)

In [17]:
# 1) CSV: un archivo por reporte
top3_por_continente.to_csv(out_dir / "top3_por_continente.csv", index=False)
country_stats_filtered.to_csv(out_dir / "country_stats_filtered.csv", index=False)
pc_pivot_counts.to_csv(out_dir / "pc_pivot_counts.csv", index=True)  # índice = continentes
top10_varieties.to_csv(out_dir / "top10_varieties.csv", index=False)

In [18]:
# 2) Excel: un workbook con una hoja por reporte
try:
    with pd.ExcelWriter(out_dir / "wine_reports.xlsx", engine="openpyxl") as writer:
        top3_por_continente.to_excel(writer, sheet_name="top3_por_continente", index=False)
        country_stats_filtered.to_excel(writer, sheet_name="country_stats_filtered", index=False)
        pc_pivot_counts.to_excel(writer, sheet_name="pc_pivot_counts")  # conserva índice (continent)
        top10_varieties.to_excel(writer, sheet_name="top10_varieties", index=False)
except Exception as e:
    print("No se pudo crear Excel (falta engine). Error:", e)

In [19]:
# 3) SQLite: cada reporte como una tabla en reports/wine_reports.db
db_path = out_dir / "wine_reports.db"
try:
    # Preferir sqlalchemy si está disponible
    try:
        engine = create_engine(f"sqlite:///{db_path}")
        top3_por_continente.to_sql("top3_por_continente", engine, if_exists="replace", index=False)
        country_stats_filtered.to_sql("country_stats_filtered", engine, if_exists="replace", index=False)
        # pc_pivot_counts tiene índice que representa 'continent'; mover índice a columna
        pc_sql = pc_pivot_counts.reset_index().rename(columns={"index": "continent"})
        pc_sql.to_sql("pc_pivot_counts", engine, if_exists="replace", index=False)
        top10_varieties.to_sql("top10_varieties", engine, if_exists="replace", index=False)
    except Exception:
        # Caída a sqlite3 (pandas soporta conexión sqlite3)
        conn = sqlite3.connect(db_path)
        top3_por_continente.to_sql("top3_por_continente", conn, if_exists="replace", index=False)
        country_stats_filtered.to_sql("country_stats_filtered", conn, if_exists="replace", index=False)
        pc_pivot_counts.reset_index().rename(columns={"index": "continent"}).to_sql("pc_pivot_counts", conn, if_exists="replace", index=False)
        top10_varieties.to_sql("top10_varieties", conn, if_exists="replace", index=False)
        conn.close()
except Exception as e:
    print("Error al escribir SQLite:", e)